body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
}

.team {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 2em;
}

.team-member {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.team-member:hover {
    transform: scale(1.02);
    opacity: 0.97;
}

.team-member img {
    width: 40%;
    box-shadow: -10px 0px 15px -10px #3b3b3b, /* Sombra à esquerda (vermelha) */
        10px 0px 15px -10px #a2a2a2;
}

.team-member .informations {
    width: 80%;
}


.team-member .about {
    font-size: .9em;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
}

.team-member h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.team-member p {
    font-size: 1.1em;
}

.eliel {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

/* QUERIES */

@media (max-width: 768px) {
    .team {
        /* display: block; */
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .team-member {
        margin: 2em;
        width: 80%;
    }

    .team-member img {
        width: 25%;
    }

    .team-member .informations {
        width: 90%;
    }
}

@media (max-width: 426px) {

    .team-member img {
        width: 50%;
    }

    .team-member .informations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .team-member .informations p {
        font-size: .8em;
        text-align: center;
    }
}